@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oswald:wght@700&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Oswald:wght@200&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    align-items: center;
   
}

header a{
    padding: 8px 12px;
    font-size: 14PX;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: .2s;
    

}
header .active{
    color: #00b32d;
}

header a:hover:not(.active){
    color: #00b32d;
    
}
.icon{
    display: none;
    font-size: 30px;
    color:rgb(0, 0, 0);
}
@media only screen and (max-width:720px){
    header nav {
        display: none;
    }
    header .icon{
        display: block;
    }

}
@media only screen and (max-width:720px){
    .header.responsive{
        position: relative;
    }
    .header.responsive nav{
        display: block;
        position: absolute;
        top: 60px;
        right: 50px;
    }
    .header.responsive a{
        display: block;
    }
    .header.responsive nav a{
        background-color: rgb(255, 255, 255);
        
    }
    .header.responsive nav a:hover{
        background-color: black;
        color: white;
    }
}
@media only screen and (max-width:413px){
    header {
        padding:0px 5px;
    }
    .header.responsive nav{
        right: 5px;
    }
}
/*-----end header section__*/
/*---------start unknown section))))_-----*/
.unknown{
width: 100%;
height: 250px;
display: flex;
}
.unknown .left-item{
    width: 20%;
    height: 100%;
    background-color: rgb(224, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.unknown .left-item .img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top:16px;
    
    
}
.unknown .left-item .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.unknown .left-item .img-content{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 16px;
    
}
.unknown .left-item .img-content i{
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 25px;
}
.unknown .left-item .img-content i:hover{
    background-color: #fff;
    color: black;
}
.unknown .right-item{
    width: 80%;
    height: 100%;
    background-color: rgb(104, 104, 102);
    
}
.unknown .right-item .content .emoji{
    font-size: 100px;
    display: inline-block;
    color: yellow;
}
.unknown .right-item .content{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    padding: 25px 8px;
}
@media only screen and (max-width:850px){
    .unknown{
        flex-direction: column;
        height: auto;
    }
    .unknown .left-item{
        width: 100%;
        padding: 16px 0px;
    }
    .unknown .right-item{
        width: 100%;
    }
    .unknown .left-item .img{
        width: 150px;
        height: 150px;
    }
    .unknown .right-item{
        padding-bottom: 10px;
    }
}
/*-----end unknown section-------*/
/*--------form section-------*/
    /*form div 2*/
    .my-form .form-div2{
        width: 30%;
        padding: 16px;
        background-color: #fff;
        color: black;
        border: 1px solid rgb(167, 167, 167);
    }
    .my-form .form-div2 h2{
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;
        text-align: center;
        margin-bottom: 12px;
    }
    .my-form .form-div2 input{
        width: 100%;
        height: 30px;
        border: none;
        border-bottom:1px solid gray;
        padding: 2px 8px;
        margin-top: 5px;
    }
    .my-form .form-div2 textarea{
        width: 100%;
        height: auto;
        padding: 2px 8px;
        border:none;
        margin-top: 5px;
        border-bottom:1px solid gray;
    }

    #btn-form2{
        background-color: rgb(54, 58, 250);
        border: none;
        color: white;
    }
    #btn-form2:hover{
        background-color: rgb(255, 255, 255);
        color:black;
        border: 1px solid gray;
    }

    @media only screen and (max-width:768px){

        .my-form .form-div2{
            width: 100%;
            margin-bottom: 8px;
        }
    }
/*---------end form section---------*/
/*-------img-gellary section------*/
/* Image gellary */
.img-gellary{
    margin-top: 20px;
    margin-bottom: 40px;
}
.img-gellary .title{
    text-align: center;
    font-size: 25px;

}
.img-gellary .container{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 420px);
    overflow: hidden;
    gap: 25px;
    padding: 50px 100px;

}
.img-gellary .container div{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    overflow: hidden;
    transition: all .5s ease-in-out;

}

.img-gellary .container div img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}

.img-gellary .container div:hover{
    padding: 0px;
}

@media only screen and (max-width:1050px){
    .img-gellary .container{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(5, 400px);
        overflow: hidden;
        gap: 25px;
        padding: 0px 100px;
    } 
}
@media only screen and (max-width:500px){
    .img-gellary .container{

        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(9, 400px);

    } 
}
@media only screen and (max-width:767px){
    .img-gellary .container{
        padding: 30px 25px;
    } 
}
